html {
  background-color: #2a3132;
  font-family: Vibes, cursive;
  font-family: Spartan, sans-serif;
}

h1 {
  font-family: Vibes, cursive;
}

.card {
  background-color: #fff;
  position: relative;
}

.content {
  justify-content: center;
}

.noun {
  display: block;
}

.rectangle {
  background-color: #ffe91a;
  padding: 1.5rem;
  width: 50%;
  height: 10%;
  position: absolute;
  left: 6.5rem;
  top: -1.5rem;
}

.rect {
  display: none;
}
